* {
	margin: 0px;
	padding: 0px;
}
.download-page-main-head-name {
	font-family: 'Raleway', sans-serif;
	margin-top: 3%;
	text-align: center;
	font-weight: 550;
	margin-bottom: 3%;
}
.ep1 {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 1%;
}
.ep1 a:hover {
	color: red;
	transition: .4s;
}
.ep2 {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 1%;
}
.ep2 a:hover {
	color: red;
	transition: .4s;
}
.ep3 {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 1%;
}
.ep3 a:hover {
	color: red;
	transition: .4s;
}
.ep4 {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 1%;
}
.ep4 a:hover {
	color: red;
	transition: .4s;
}
.ep5 {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 1%;
}
.ep5 a:hover {
	color: red;
	transition: .4s;
}
.ep6 {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 1%;
}
.ep6 a:hover {
	color: red;
	transition: .4s;
}
.ep7 {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 1%;
}
.ep7 a:hover {
	color: red;
	transition: .4s;
}
.ep8 {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 1%;
}
.ep8 a:hover {
	color: red;
	transition: .4s;
}
.ep9 {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 1%;
}
.ep9 a:hover {
	color: red;
	transition: .4s;
}
.ep10 {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 1%;
}
.ep10 a:hover {
	color: red;
	transition: .4s;
}
.ep11 {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 1%;
}
.ep11 a:hover {
	color: red;
	transition: .4s;
}
.ep12 {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 1%;
}
.ep12 a:hover {
	color: red;
	transition: .4s;
}
.ep13 {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 1%;
}
.ep13 a:hover {
	color: red;
	transition: .4s;
}
.ep14 {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 1%;
}
.ep14 a:hover {
	color: red;
	transition: .4s;
}
.ep15 {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 1%;
}
.ep15 a:hover {
	color: red;
	transition: .4s;
}
.ep16 {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 1%;
}
.ep16 a:hover {
	color: red;
	transition: .4s;
}
.ep17 {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 1%;
}
.ep17 a:hover {
	color: red;
	transition: .4s;
}
.ep18 {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 1%;
}
.ep18 a:hover {
	color: red;
	transition: .4s;
}
.ep19 {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 1%;
}
.ep19 a:hover {
	color: red;
	transition: .4s;
}
.ep20 {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 1%;
}
.ep20 a:hover {
	color: red;
	transition: .4s;
}