* {
	margin: 0px;
	padding: 0px;
}
.download-page-main-head-name {
	font-family: 'Raleway', sans-serif;
	margin-top: 3%;
	text-align: center;
	font-weight: 550;
	margin-bottom: 3%;
}
.ep1 {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 1%;
}
.ep1 a:hover {
	color: red;
	transition: .4s;
}
.ep2 {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 1%;
}
.ep2 a:hover {
	color: red;
	transition: .4s;
}
.ep3 {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 1%;
}
.ep3 a:hover {
	color: red;
	transition: .4s;
}
.ep4 {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 1%;
}
.ep4 a:hover {
	color: red;
	transition: .4s;
}
.ep5 {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 1%;
}
.ep5 a:hover {
	color: red;
	transition: .4s;
}
.ep6 {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 1%;
}
.ep6 a:hover {
	color: red;
	transition: .4s;
}
.ep7 {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 1%;
}
.ep7 a:hover {
	color: red;
	transition: .4s;
}
.ep8 {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 1%;
}
.ep8 a:hover {
	color: red;
	transition: .4s;
}
.ep9 {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 1%;
}
.ep9 a:hover {
	color: red;
	transition: .4s;
}